币种：{{ currency.currencyCHName }}({{ currency.currencyENName }})
参考价格：  {{ currency.reference }}
现汇买入价：{{ currency.foreignBuy }}
现钞买入价：{{ currency.cashBuy }}
现汇卖出价：{{ currency.foreignSell }}
现钞卖出价：{{ currency.cashSell }}
发布时间：{{ currency.publishDate }} {{ currency.publishTime }}
单位：人民币/100外币