标题:
{{ data.title }}
UP主:
{{ data.owner.name }}
发布时间: {{ timestamp_to_str(data.pubdate) }}
播放: {{ data.stat.view }}
弹幕: {{ data.stat.danmaku }}
点赞: {{ data.stat.like }}
投币: {{ data.stat.coin }}
简介:
{{ clean_description(data.desc) }}
{% if with_url %}
视频链接:
https://www.bilibili.com/video/{{ data.bvid }}
{% endif %}
